/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap');

$body-bg: #000000;
$body-color: #F7F8F9;
$link-color: #f58025;
$presentation-heading-color: #FFAA66;

$font-family-sans-serif: 'Libre Franklin', sans-serif;
$presentation-h1-font-size: 1.5em;

/*-- scss:rules --*/